* {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: rgb(33, 33, 33);
}

.teste {
    display: flex;
    align-items: center;

    
    background: rgb(156, 189, 222);
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    color: rgb(21, 35, 35);
}
li{
    position: relative;;
    right: -20px;
}